@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text: black;
    --bg: skyblue;

}

title {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 600;
}

body {
    font-family: "Montserrat";
    font-size: 18px;
    color: black;
}

.input {
    border: 2px solid black;
}

#significand {
    border: 2px dotted blue;
}

#exponent {
    border: 2px dotted green;
}